@use '../helpers' as *;

.faq {
	.ac-trigger,
	.accordion-container,
	.ac,
	.ac-header,
	.ac-text,
	.ac .ac-header,
	.ac .ac-trigger,
	.ac .ac-trigger::after,
	.ac .ac-panel .ac-text {
		all: unset;
	}
}

#faq {
	padding-block: 32px;
	@include tablet {
		padding-block: 48px;
	}
	@include laptop {
		padding-block: 82px;
	}
}
.faq__title {
	font-weight: 600;
	font-size: 16px;
	color: #fafafa66;
	margin-bottom: 32px;
}
#faq-list {
	&.accordion-container {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: start;
		border-top: 1px solid rgba(250, 250, 250, 0.2);
		@include laptop {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				'l1 l2'
				'l3 l4'
				'l5 l6';
		}
	}
}

#faq-item,
#faq-item1,
#faq-item2,
#faq-item3,
#faq-item4,
#faq-item5 {
	&.ac {
		display: flex;
		flex-direction: column;
		border: none;
		padding-block: 20px;
		border-bottom: 1px solid rgba(250, 250, 250, 0.2);
		background-color: var(--color-background);
		gap: 16px;
		@include tablet {
			padding-block: 32px 24px;
			gap: 26px;
		}
		@include laptop {
			padding-block: 32px 26px;
		}

		&.is-active {
			.icon-arrow {
				transform: rotate(180deg);
				transition: transform 0.5s ease;
			}
		}
	}
}

#faq-title,
#faq-title1,
#faq-title2,
#faq-title3,
#faq-title4,
#faq-title5 {
	&.ac-header {
		max-width: 289px;
		color: #fafafa;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: -0.2px;

		@include tablet {
			max-width: none;

			&.faq__item-title--one-line {
				max-width: 485px;
			}
		}
	}
}
#faq-title5.ac-header {
	@include tablet {
		max-width: 485px;
	}
}

#faq-button-open,
#faq-button-open1,
#faq-button-open2,
#faq-button-open3,
#faq-button-open4,
#faq-button-open5 {
	display: flex;
	place-items: center;
	background-color: transparent;
	padding: 7px;
	border: 1px solid rgba(250, 250, 250, 0.2);
	border-radius: 50%;
	@include tablet {
		padding: 10px;
	}
}

#faq-inner,
#faq-inner1,
#faq-inner2,
#faq-inner3,
#faq-inner4,
#faq-inner5 {
	&.ac-trigger {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
#text,
#text1,
#text2,
#text3,
#text4,
#text5 {
	&.ac-text {
		color: rgba(250, 250, 250, 0.6);
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.32px;

		@include tablet {
			max-width: 656px;
			display: block;
		}

		@include laptop {
			max-width: 656px;
			display: block;
		}
	}
}

@include laptop {
	#faq-item.ac {
		padding-right: 32px;
		border-right: 1px solid rgba(250, 250, 250, 0.2);
		grid-area: l1;
	}
	#faq-item3.ac {
		padding-left: 32px;
		grid-area: l2;
	}
	#faq-item1.ac {
		padding-right: 32px;
		border-right: 1px solid rgba(250, 250, 250, 0.2);
		grid-area: l3;
	}
	#faq-item4.ac {
		padding-left: 32px;
		grid-area: l4;
	}
	#faq-item2.ac {
		padding-right: 32px;
		border-right: 1px solid rgba(250, 250, 250, 0.2);
		grid-area: l5;
	}
	#faq-item5.ac {
		padding-left: 32px;
		grid-area: l6;
	}
}
