<section class="about container" id="about">
<h2 class="about-hide">Abaut me </h2>
<div class="about-container-first">
    <p class="about-keycompetency">I work with people all over the world to create impressive and <span
            class="about-keycompetency-span-red">functional</span> <span
            class="about-keycompetency-span-grey">websites</span> that reflect each client's unique
        personality.
    </p>

    <picture class="about-photo-picture">
        <source srcset="/images/about/about-PC-webP-1x.webP 1x, /images/about/about-PC-webP-2x.webP 2x" media="(min-width: 1440px)">

        <source srcset="/images/about/about-tab-webP-1x.webP 1x, /images/about/about-tab-webP-2x.webP 2x" media="(min-width: 768px)" >

        <source srcset="/images/about/about-mob-webP-1x.webP 1x, /images/about/about-mob-webP-2x.webP 2x"
            media="(max-width: 767px)" >
        <img class="portfolio-pict" src="/images/about/about-mob-1x.png" alt="Photo" >
    </picture>
</div>

<ul id="about-sup" class="accordion-container" data-accordion>
    <li id="about-sup-one" class="ac is-active" data-open>
        <h2 id="about-subtitle-h2" class="ac-header">
            <button id="about-but1" class="ac-trigger about-button-text"><span>About me</span> <svg class="accordion-icon about-accordion-icon" width="16" height="16" >
                    <use href="/images/sprite.svg#icon-narrow-top-bottom"></use>
                </svg>
            </button>
        </h2>
        <div class="ac-panel" >
            <p class="about-text-first">I am Lloyd Jefferson, a talented programmer with extensive expertise in
                software development. I have an understanding of different programming languages ​​and technologies,
                always
                ready to improve my skills. I always follow the latest
                trends and look for unconventional, creative solutions to problems. I have a high level of analytical
                skills
                and am able to
                effectively solve even the most difficult tasks encountered on the way.</p>
            <p class="about-text-second">Able to work both independently and in a team. I can effectively cooperate
                with colleagues, exchanging ideas and finding
                optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
                situations,
                while maintaining a high quality of work. I am always looking for opportunities for self-improvement. I
                actively study new
                technologies and practices to stay abreast of the latest innovations. I have a strong understanding of
                various programming languages, frameworks and architectural concepts that allow me to create efficient
                and
                scalable
                software.</p>
        </div>
    </li>

    <li id="about-sup-two" class="ac ">
        <h2 class="ac-header">
            <button id="about-but2" class="ac-trigger"><span>rOLE</span> <svg class="accordion-icon about-accordion-icon" width="16" height="16">
                <use href="/images/sprite.svg#icon-narrow-top-bottom"></use>
            </svg></button>
        </h2>
        <div class="ac-panel">
            <p class="about-text-accordion-one">Frontend development</p>
            <p class="about-text-accordion-one">HeadlessCMS,Wordpress</p>
            <p class="about-text-accordion-one-last">Blender(enjoy)</p>
        </div>
    </li>
    <li id="about-sup-three" class="ac">
        <h2 class="ac-header">
            <button id="about-but3" class="ac-trigger"><span>eDUCATION</span>  
                <svg class="accordion-icon about-accordion-icon" width="16" height="16" >
                    <use href="/images/sprite.svg#icon-narrow-top-bottom"></use>
                </svg>
            </button>
        </h2>
        <div class="ac-panel">
            <p class="about-text-accordion-one">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</p>
            <p class="about-text-accordion-one">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
            </p>
            <p class="about-text-accordion-one-last">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        </div>
    </li>    
</ul>

<div id="about-swiper" class="swiper">
    <ul class="swiper-wrapper">
        <li id="swiper-slide1" class="swiper-slide"><button type="button" class="about-item-slide-active">HTML/CSS</button></li>
        <li  id="swiper-slide1" class="swiper-slide"><button type="button" class="about-item-slide">JavaScript</button></li>
        <li class="swiper-slide"><button type="button" class="about-item-slide">React</button></li>
        <li class="swiper-slide"><button type="button" class="about-item-slide">Node.js</button></li>
        <li class="swiper-slide"><button type="button" class="about-item-slide">React Native</button></li>
        <li class="swiper-slide"><button type="button" class="about-item-slide">Soft skills</button></li>        
    </ul>
    
    <div class="swiper-button-next_">
        <button type="button" class="swiper-button-next">
            <svg class="about-svg">
                <use href="/images/sprite.svg#icon-arrow-narrow-right"></use>
            </svg>
        </button>
    </div>

    

</div>
</section> 


