<section class="benefits container" id="benefits">
	<ul class="benefits__list">
		<li class="benefits__item">
			<h2 class="benefits__title">Benefits of working with me</h2>
		</li>
		<li class="benefits__item">
			<ul class="benefits__left-list">
				<li class="benefits__left-item">
					<svg class="benefits__icon" width="48" height="48">
						<use href="/images/sprite.svg#icon-benefits-man"></use>
					</svg>
					<div class="benefits__left-inner">
						<h3 class="benefits__left-title">Expertise</h3>
						<p class="benefits__left-text">
							As a highly experienced developer, I have deep knowledge of
							programming and website development.
						</p>
					</div>
				</li>
				<li class="benefits__left-item">
					<svg class="benefits__icon" width="48" height="48">
						<use href="/images/sprite.svg#icon-benefits-talk"></use>
					</svg>
					<div class="benefits__left-inner">
						<h3 class="benefits__left-title">Communication</h3>
						<p class="benefits__left-text">
							Understanding your needs and wants is my priority and I am always
							open to discussions and corrections.
						</p>
					</div>
				</li>
				<li class="benefits__left-item">
					<svg class="benefits__icon" width="48" height="48">
						<use href="/images/sprite.svg#icon-benefits-brush"></use>
					</svg>
					<div class="benefits__left-inner">
						<h3 class="benefits__left-title">Art</h3>
						<p class="benefits__left-text">
							Thanks to my creative nature, I am ready to accept challenges and
							help you bring your ideas to life.
						</p>
					</div>
				</li>
				<li class="benefits__left-item">
					<svg class="benefits__icon" width="48" height="48">
						<use href="/images/sprite.svg#icon-benefits-time"></use>
					</svg>
					<div class="benefits__left-inner">
						<h3 class="benefits__left-title">Urgent execution</h3>
						<p class="benefits__left-text">
							I understand how important time is to you. Ready to work quickly
							and efficiently, without reducing the quality of work.
						</p>
					</div>
				</li>
			</ul>
			<a class="benefits__link" href="#work">Order the project</a>
		</li>
	</ul>
</section>
