<section class="covers" id="covers">
	<h2 class="visually-hidden">Covers</h2>
	<ul class="all-covers">
		<marquee behavior="" direction="">
			<ul class="group-of-covers">
				<li class="cover">
					<a href="" class="cover-link"
						><img
							srcset="
								/images/covers/power-pulse.jpg    1x,
								/images/covers/power-pulse@2x.jpg 2x
							"
							src="/images/covers/power-pulse.jpg"
							alt="Power Pulse"
							class="cover-img"
					/></a>
				</li>
				<li class="cover">
					<a href="" class="cover-link"
						><img
							srcset="
								/images/covers/mimino.jpg    1x,
								/images/covers/mimino@2x.jpg 2x
							"
							src="/images/covers/mimino.jpg"
							alt="Mimino"
							class="cover-img"
					/></a>
				</li>
				<li class="cover">
					<a href="" class="cover-link"
						><img
							srcset="
								/images/covers/chego.jpg    1x,
								/images/covers/chego@2x.jpg 2x
							"
							src="/images/covers/chego.jpg"
							alt="Chego Jewerly"
							class="cover-img"
					/></a>
				</li>
			</ul>
		</marquee>
		<ul class="group-of-covers">
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/wallet.jpg    1x,
							/images/covers/wallet@2x.jpg 2x
						"
						src="/images/covers/wallet.jpg"
						alt="Wallet"
						class="cover-img"
				/></a>
			</li>
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/english.jpg    1x,
							/images/covers/english@2x.jpg 2x
						"
						src="/images/covers/english.jpg"
						alt="English Excellence"
						class="cover-img"
				/></a>
			</li>
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/ua-artistry.jpg    1x,
							/images/covers/ua-artistry@2x.jpg 2x
						"
						src="/images/covers/ua-artistry.jpg"
						alt="Ukrainian Artistry"
						class="cover-img"
				/></a>
			</li>
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/starlight-studio.jpg    1x,
							/images/covers/starlight-studio@2x.jpg 2x
						"
						src="/images/covers/starlight-studio.jpg"
						alt="Starlight Studio"
						class="cover-img"
				/></a>
			</li>
		</ul>
		<ul class="group-of-covers">
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/green-harvest.jpg    1x,
							/images/covers/green-harvest@2x.jpg 2x
						"
						src="/images/covers/green-harvest.jpg"
						alt="Green Harvest"
						class="cover-img"
				/></a>
			</li>
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/energy-flow.jpg    1x,
							/images/covers/energy-flow@2x.jpg 2x
						"
						src="/images/covers/energy-flow.jpg"
						alt="Energy Flow"
						class="cover-img"
				/></a>
			</li>
			<li class="cover">
				<a href="" class="cover-link"
					><img
						srcset="
							/images/covers/fruitbox.jpg    1x,
							/images/covers/fruitbox@2x.jpg 2x
						"
						src="/images/covers/fruitbox.jpg"
						alt="Fruitbox"
						class="cover-img"
				/></a>
			</li>
		</ul>
	</ul>
</section>
