<header class="header" id="header">
	<a class="header__logo-link" href="#"
		><img
			class="header__logo-img"
			srcset="/images/header/logo/logo.png 1x, /images/header/logo/logo.png 2x"
			alt="my photo"
			width="80"
			height="80"
		/>
		jefferson*
	</a>
	<div class="header__btns">
		<button class="header__btns-menu" data-btn="menu">Menu</button>
		<button class="header__btns-modal" data-btn="modal">
			<span class="header__btns-modal-line first" data-line="first"></span>
			<span class="header__btns-modal-line second" data-line="second"></span>
		</button>
	</div>
	<nav class="header__nav">
		<ul class="header__menu-list visually-hidden">
			<li class="header__menu-item">
				<a class="header__menu-link" href="#about">About me</a>
			</li>
			<li class="header__menu-item">
				<a class="header__menu-link" href="#benefits">Benefits</a>
			</li>
			<li class="header__menu-item">
				<a class="header__menu-link" href="#projects">Projects</a>
			</li>
			<li class="header__menu-item">
				<a class="header__menu-link" href="#faq">FAQ</a>
			</li>
		</ul>
		<a class="header__order" href="#work">Order the project</a>
	</nav>
</header>
