<section class="hero" id="hero">
	<h1 class="hero__title">
		Hello.<br />
		I’m Fullstack developer Lloyd Jefferson.
	</h1>
	<ul class="hero__list">
		<li class="hero__item">
			<a
				class="hero__link"
				href="https://www.instagram.com/goitclub/  "
				target="_blank"
				>IG</a
			>
		</li>
		<li class="hero__item">
			<a
				class="hero__link"
				href=" https://www.facebook.com/goITclub/  "
				target="_blank"
				>FB</a
			>
		</li>
		<li class="hero__item">
			<a
				class="hero__link"
				href="https://www.youtube.com/c/GoIT  "
				target="_blank"
				>YT</a
			>
		</li>
		<li class="hero__item">
			<a
				class="hero__link"
				href="https://github.com/Jaelouss/js-project"
				target="_blank"
				>GH</a
			>
		</li>
		<li class="hero__item">
			<a class="hero__link mail" href="mailto:lloydjefferson@gmail.com"
				>lloydjefferson@gmail.com</a
			>
		</li>
	</ul>
</section>
