<section class="projects container" id="projects">
	<h2 class="projects-title">Projects</h2>

	<div class="swiper" data-swiper="project">
		<ul class="project-card-list swiper-wrapper">
			<li class="project-card-item swiper-slide">
				<div class="project-card-container">
					<div class="card">
						<ul class="tags">
							<li class="tag">#react</li>
							<li class="tag">#js</li>
							<li class="tag">#node js</li>
							<li class="tag">#git</li>
						</ul>
						<p class="project-card-text">
							Programming Across Borders: Ideas, Technologies, Innovations
						</p>
						<a
							href="https://github.com/Jaelouss/js-project"
							target="_blank"
							class="btn"
							>See project</a
						>
					</div>
					<div class="project-card-image">
						<picture>
							<source
								srcset="
									/images/projects/tablet/projects-tab-1-1x.webp 1x,
									/images/projects/tablet/projects-tab-1-2x.webp 2x
								"
								media="(min-width: 768px)"
								type="image/webp"
							/>
							<source
								srcset="
									/images/projects/mobile/projects-mob-1-1x.webp 1x,
									/images/projects/mobile/projects-mob-1-2x.webp 2x
								"
								media="(max-width: 767px)"
								type="image/webp"
							/>
							<img
								src="/images/projects/mobile/projects-mob-1.jpg"
								width="311"
								height="195"
								alt="Project 1"
							/>
						</picture>
					</div>
				</div>
			</li>

			<li class="project-card-item swiper-slide">
				<div class="project-card-container">
					<div class="card">
						<ul class="tags">
							<li class="tag">#react</li>
							<li class="tag">#js</li>
							<li class="tag">#node js</li>
							<li class="tag">#git</li>
						</ul>
						<p class="project-card-text">
							Programming Across Borders: Ideas, Technologies, Innovations
						</p>
						<a
							href="https://github.com/Jaelouss/js-project"
							target="_blank"
							class="btn"
							>See project</a
						>
					</div>
					<div class="project-card-image">
						<picture class="">
							<source
								srcset="
									/images/projects/tablet/projects-tab-2-1x.webp 1x,
									/images/projects/tablet/projects-tab-2-2x.webp 2x
								"
								media="(min-width: 768px)"
								type="image/webp"
							/>
							<source
								srcset="
									/images/projects/mobile/projects-mob-2-1x.webp 1x,
									/images/projects/mobile/projects-mob-2-2x.webp 2x
								"
								media="(max-width: 767px)"
								type="image/webp"
							/>
							<img
								src="/images/projects/mobile/projects-mob-2.jpg"
								width="311"
								height="195"
								alt="Project 2"
							/>
						</picture>
					</div>
				</div>
			</li>

			<li class="project-card-item swiper-slide">
				<div class="project-card-container">
					<div class="card">
						<ul class="tags">
							<li class="tag">#react</li>
							<li class="tag">#js</li>
							<li class="tag">#node js</li>
							<li class="tag">#git</li>
						</ul>
						<p class="project-card-text">
							Programming Across Borders: Ideas, Technologies, Innovations
						</p>
						<a
							href="https://github.com/Jaelouss/js-project"
							target="_blank"
							class="btn"
							>See project</a
						>
					</div>
					<div class="project-card-image">
						<picture class="">
							<source
								srcset="
									/images/projects/tablet/projects-tab-3-1x.webp 1x,
									/images/projects/tablet/projects-tab-3-2x.webp 2x
								"
								media="(min-width: 768px)"
								type="image/webp"
							/>
							<source
								srcset="
									/images/projects/mobile/projects-mob-3-1x.webp 1x,
									/images/projects/mobile/projects-mob-3-2x.webp 2x
								"
								media="(max-width: 767px)"
								type="image/webp"
							/>
							<img
								src="/images/projects/mobile/projects-mob-3.jpg"
								width="311"
								height="195"
								alt="Project 3"
							/>
						</picture>
					</div>
				</div>
			</li>
		</ul>

		<div class="slider-controls">
			<button class="slider-arrow left-arrow slider-prev" data-project="prev">
				<svg class="rotate disabled icon-arrow" width=" 24" height="24">
					<use xlink:href=" /images/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
			<button class="slider-arrow right-arrow slider-next" data-project="next">
				<svg class="default disabled icon-arrow" width="24" height="24">
					<use xlink:href="/images/sprite.svg#icon-arrow-right"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
