<section class="reviews container" id="reviews">
	<h2 class="reviews__title">REVIEWS</h2>
	<div class="swiper1">
		<ul class="swiper-wrapper1">
			<li class="swiper-slide1">
				<img src="https://ftp.goit.study/img/avatars/4.jpg" width="48" height="48"></img>
				<h3>Natalia</h3>
				<p>
					Work with was extraordinary! He turned out to be a very competent and
					responsible specialist. The projects were completed on time and the
					result exceeded my expectations.
				</p>
			</li>
			<li class="swiper-slide1">Слайд 2</li>
			<li class="swiper-slide1">Слайд 3</li>
		</ul>
		<div class="swiper-button1" data-btn="box">
			<button class="swiper-button-prev1" data-btn="prev"></button>
			<button class="swiper-button-next1" data-btn="next"></button>
		</div>
	</div>
</section>
