<section class="reviews container" id="reviews">
	<h2 class="reviews__title">REVIEWS</h2>
	<div class="swiper1" data-box='swiper'>
		<ul class="swiper-wrapper ">
			<li class="swiper-slide swiper-slide1">
				<img src="https://ftp.goit.study/img/avatars/4.jpg" width="48" height="48"></img>
				<h3>Natalia1</h3>
				<p>
					Work with was extraordinary! He turned out to be a very competent and
					responsible specialist. The projects were completed on time and the
					result exceeded my expectations.
				</p>
			</li>
			<li class="swiper-slide swiper-slide1">
				<img src="https://ftp.goit.study/img/avatars/4.jpg" width="48" height="48"></img>
				<h3>Natalia2</h3>
				<p>
					Work with was extraordinary! He turned out to be a very competent and
					responsible specialist. The projects were completed on time and the
					result exceeded my expectations.
				</p>
			</li>
			<li class="swiper-slide swiper-slide1">
				<img src="https://ftp.goit.study/img/avatars/4.jpg" width="48" height="48"></img>
				<h3>Natalia3</h3>
				<p>
					Work with was extraordinary! He turned out to be a very competent and
					responsible specialist. The projects were completed on time and the
					result exceeded my expectations.
				</p>
			</li>
		</ul>
		<div class="swiper-button1" data-btn="box">
			<button class="swiper-button-prev1" data-btn="prev"><svg width='24' height='24' class='review-left icon-arrow default rotate'>
<use  href='/images/sprite.svg#icon-arrow-right'></use>
</svg></button>
			<button class="swiper-button-next1" data-btn="next"><svg width='24' height='24' class='review-right icon-arrow default'>
<use  href='/images/sprite.svg#icon-arrow-right'></use>
</svg></button>


            



		</div>
	</div>
</section>
